extends ../base
block head
    title works
block content
    .wrap
        include ../../components/header/header
            section.works
                .works__header
                    h1.big__title Мои работы
            div.slider
                div.slider__lief
                    h2.normal__title Lorem ipsum dolor sit
                    p Lorem ipsum dolor
                    a.btn.btn--margin.btn--color(href='#') Посмотреть сайт
                div.slider__right
                    div.slider__screen
                        img.slider__img__big(src=require('../../images/slide_img.png'))
                    div.slider__right__control
                        div.slider__btn.slider__prev
                            a.slider__arrow(href='#')
                            img.slider__img__small(src=require('../../images/slide_img.png'))
                        div.slider__btn.slider__nex
                            a.slider__arrow.slider__arrow--down(href='#')
                            img.slider__img__small(src=require('../../images/slide_img.png'))
            section.reviews
                h2.normal__title.normal__title--margin Что говорят
                div.reviews__block
                    div.reviews__coment
                        img.presone__img(src=require('../../images/person_2.jpg'))
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci aliquid, consequuntur dolor dolores, expedita impedit
                        span Lorem Lorem - loooorem Loftshool
                    div.reviews__coment
                        img.presone__img(src=require('../../images/person_3.jpg'))
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci aliquid, consequuntur dolor dolores, expedita impedit
                        span Lorem LoremLorem - loooorem
                form.form__teg(method='post', action='mail.php')
                    div.contact__form
                        div.normal__title.normal__title--white.normal__title--margin Напишите мне
                        div.contact__form__content
                            label.contact__form__block(for='user_name')
                                input#user_name.contact__form__input(type='text', name='user_name',placeholder='Имя', required)
                            label.contact__form__block(for='user_pass')
                                input#user_email.contact__form__input(type='email', name='user_pass',placeholder='Email', required)
                            div.form__row
                                textarea#user_message.contact__form__texarea(name='user_message', placeholder='Ваше сообщение')
                        div.form__row
                            div.form__control
                                button.form__btn(type='submit')
                                    div.form__submit-text Отправить
                                button.form__btn(type='reset')
                                    div.form__link.form__link--center Очистить
        include ../../components/footer/_footer
    include  ../../components/full menu/full__menu